</div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/dashboard.js"></script>
</body>
<script>
  document.querySelectorAll(".read-toggle").forEach(btn => {
    btn.addEventListener("click", function () {
      const desc = this
        .closest(".card")
        .querySelector(".blog-desc");

      const fullText = desc.dataset.full;

      if (this.innerText === "Read More") {
        desc.innerText = fullText;
        this.innerText = "Show Less";
      } else {
        desc.innerText = fullText.slice(0, 150);
        this.innerText = "Read More";
      }
    });
  });
</script>

</html>