<%- include('./partials/start.ejs') %>
  <div class="container-fluid">
    <div class="container-fluid">
      <h5 class="card-title fw-semibold mb-4">Blog</h5>
      <div class="card">
        <div class="card-body">
          <form action="/admin/add-blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
              <label for="file" class="form-label">Cover</label>
              <input type="file" class="form-control" id="file" name="file" accept="image/*">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Description</label>
              <textarea class="form-control" name="desc" id="desc" rows="5"></textarea>
            </div>
            <div class="mb-3">
              <label for="tags" class="form-label">Tags</label>
              <input type="text" class="form-control" name="tags" id="tags">
            </div>
            <button class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/end.ejs') %>